.alert-dismissible .close {
  line-height: 0.8;
  font-size: 1.53125rem;
}
.alert-soft-dark hr {
  border-color: rgba(189, 197, 209, 0.5);
}
.alert-primary {
  color: #fff;
  background-color: #377dff;
  border-color: #377dff;
}
.alert-primary hr {
  border-top-color: #1e6cff;
}
.alert-primary .alert-link {
  color: #fff;
}
.alert-secondary {
  color: #fff;
  background-color: #71869d;
  border-color: #71869d;
}
.alert-secondary hr {
  border-top-color: #647991;
}
.alert-secondary .alert-link {
  color: #fff;
}
.alert-success {
  color: #fff;
  background-color: #00c9a7;
  border-color: #00c9a7;
}
.alert-success hr {
  border-top-color: #00b092;
}
.alert-success .alert-link {
  color: #fff;
}
.alert-info {
  color: #fff;
  background-color: #00c9db;
  border-color: #00c9db;
}
.alert-info hr {
  border-top-color: #00b2c2;
}
.alert-info .alert-link {
  color: #fff;
}
.alert-warning {
  color: #1e2022;
  background-color: #f5ca99;
  border-color: #f5ca99;
}
.alert-warning hr {
  border-top-color: #f3be82;
}
.alert-warning .alert-link {
  color: #1e2022;
}
.alert-danger {
  color: #fff;
  background-color: #ed4c78;
  border-color: #ed4c78;
}
.alert-danger hr {
  border-top-color: #eb3567;
}
.alert-danger .alert-link {
  color: #fff;
}
.alert-light {
  color: #1e2022;
  background-color: #f9fafc;
  border-color: #f9fafc;
}
.alert-light hr {
  border-top-color: #e8ecf4;
}
.alert-light .alert-link {
  color: #1e2022;
}
.alert-dark {
  color: #fff;
  background-color: #132144;
  border-color: #132144;
}
.alert-dark hr {
  border-top-color: #0d1730;
}
.alert-dark .alert-link {
  color: #fff;
}
.alert-soft-primary {
  color: #377dff;
  background-color: rgba(55, 125, 255, 0.1);
}
.alert-soft-primary .alert-link {
  color: #377dff;
}
.alert-soft-primary .alert-link:hover {
  color: #1366ff;
}
.alert-soft-secondary {
  color: #71869d;
  background-color: rgba(113, 134, 157, 0.1);
}
.alert-soft-secondary .alert-link {
  color: #71869d;
}
.alert-soft-secondary .alert-link:hover {
  color: #60748b;
}
.alert-soft-success {
  color: #00c9a7;
  background-color: rgba(0, 201, 167, 0.1);
}
.alert-soft-success .alert-link {
  color: #00c9a7;
}
.alert-soft-success .alert-link:hover {
  color: #00a589;
}
.alert-soft-info {
  color: #00c9db;
  background-color: rgba(0, 201, 219, 0.1);
}
.alert-soft-info .alert-link {
  color: #00c9db;
}
.alert-soft-info .alert-link:hover {
  color: #00a8b7;
}
.alert-soft-warning {
  color: #f5ca99;
  background-color: rgba(245, 202, 153, 0.1);
}
.alert-soft-warning .alert-link {
  color: #f5ca99;
}
.alert-soft-warning .alert-link:hover {
  color: #f2b978;
}
.alert-soft-danger {
  color: #ed4c78;
  background-color: rgba(237, 76, 120, 0.1);
}
.alert-soft-danger .alert-link {
  color: #ed4c78;
}
.alert-soft-danger .alert-link:hover {
  color: #ea2c60;
}
.alert-soft-light {
  color: #f9fafc;
  background-color: rgba(249, 250, 252, 0.1);
}
.alert-soft-light .alert-link {
  color: #f9fafc;
}
.alert-soft-light .alert-link:hover {
  color: #e1e6f0;
}
.alert-soft-dark {
  color: #132144;
  background-color: rgba(19, 33, 68, 0.1);
}
.alert-soft-dark .alert-link {
  color: #132144;
}
.alert-soft-dark .alert-link:hover {
  color: #0b1328;
}
