extends layout

//- Account edit page
block content
  .model.modelSmall.p-4
    .col-24
      h2.mb-4 Edit Your Account
      form(action="/account" method="POST" enctype="multipart/form-data")
        .col-24.alpha.omega
          label(for="name") Name
          input(type="text" name="name" value=staff.name)

        .col-24.alpha.omega
          label(for="email") Email Address
          input(type="email" name="email" value=staff.email)

        .col-24.alpha.omega
          label(for="photo") Photo
          .component(data-component="file-upload" data-image=staff.photo)
            .preview
            .file-input
              input(type="file" name="photo")
            
        .col-24.alpha.omega
          input.button(type="submit" value="Update My Account")
