extends layout 
include mixins/_accountForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

//- block panelHeader
//-     - const get = '/api/account/get/'
//-     - const read = '/api/account/read/'
//-     - const remove ='/api/account/delete/'
//-     - const searchAction = '/api/account/search?fields=name,surname,email&q='
//-     - const displayFields = 'company'
//-     p.panelTitle #{title}
//-     .space-25
//-     .search-container
//-         +searchItemCrud(searchAction, 'account', displayFields, read)
//- block panelBody
//-     .clearfix
//-     .panelContent.component(data-component="view-details" data-page="account")
//-         .panel-body.hidden
//-             +infoHeader( "accounts: ", displayFields)
//-             .tab-content         
//-                 .read
//-                     - const listInfo = [{key:'name',text:'Nom'},{key:'surname',text:'Prenom'},{key:'email',text:'Email',{key:'accountType',text:'Compte'},{key:'dashboardType',text:'type de dashboard'}}]
//-                     +information(listInfo)
//-                 .edit.hidden
//-                     //- +accountForm('/api/account/')

//- block panelFooter                    
//-     .component(data-component="accordionForm")
//-         .accordionForm
//-             .accordionFormHeader 
//-                 | Ajouter un nouveaux #{title}
//-                 != h.icon('plus-circle') 
//-             .whiteBg
//-             .box
//-                 //- +accountForm('/api/account/')
        
block content 
    .model.modelSmall
        - const col = ['name', 'surname', 'email', 'accountType']
        - const list = ['Nom', 'Prenom', 'Email', 'Compte']
        - const items = 10
        +dataTable(target,lists,col,items, "Liste des accounts", displayFields)