
extends layout
include mixins/_appointmentForm
include components/_searchForm
include components/_information
include components/_dataTable
include components/_infoHeader

block panelHeader
    - const target = 'appointment'
    - const fields = 'patient.name,date'
    - const displayFields = 'patient.name|date'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(target,fields,displayFields)

block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="appointment")
        .panel-body.hidden
            +infoHeader( "Appointment Date: ", 'date|time')
            .tab-content         
                .read
                    - const listInfo = [{key:'patient.name',text:'Nom du patient'},{key:'patient.surname',text:'Prenom du patient'},{key:'doctor.name',text:'Nom du doctor'},{key:'doctor.surname',text:'Prenom du doctor'},{key:'date',text:'Date du RDV'},{key:'time',text:'Heure du RDV'}]
                    +information(listInfo)
                .edit.hidden
                    - const idSelect = 1
                    +appointmentForm(target,"update",specialty,idSelect)
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux RDV
                != h.icon('plus-circle') 
            .whiteBg
            .box
                - const idSelect = 2
                +appointmentForm(target,"create",specialty,idSelect)
                

block content
  .appointmentPage    
    .model.modelSmall
        - const col = ['patient.name|patient.surname','doctor.name|doctor.surname','specialty.name','date','time']  
        - const items = 10
        - const lists = ['Nom de Patient','Nom de Medecin','Specailite','Date de RDV','Heure']
        +dataTable(target,lists,col,items,"Liste des RDV", displayFields)

    