extends layout 
include mixins/_clientForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'client'
    - const fields = 'company'
    - const displayFields = 'company'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)
block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="company")
        .panel-body.hidden
            +infoHeader( "Clients: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'company',text:'Entreprise'},{key:'managerName',text:'Nom de Directeur'},{key:'managerSurname',text:'Prénom de Directeur'},{key:'bankAccount',text:'Compte CCB'},{key:'fax',text:'Fax'},{key:'cell',text:'Tel Mobile'},{key:'email',text:'Email'},{key:'website',text:'siteweb'}]
                    +information(listInfo)
                .edit.hidden
                    +clientForm(target,"update")
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +clientForm(target,"create")
        
block content 
    .model.modelSmall
        - const col = ['company', 'managerName', 'managerSurname', 'bankAccount', 'fax', 'cell', 'email', 'website']
        - const list = ['entreprise', 'Nom de Directeur', 'Prénom de Directeur', 'Compte CCB', 'Fax', 'Tel Mobile', 'email', 'siteweb']
        - const items = 10
        +dataTable(target,lists,col,items, "Liste des clients", displayFields)
