
extends layouts/default
include mixins/_clientPaymentForm
include components/_dataTable
include components/_searchItemCrud
include components/_information
include components/_infoHeader

//- Client Payement page



block panelHeader
    - const target = 'clientPayment'
    - const fields = 'number'
    - const displayFields = 'number'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)

block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="clientPayment")
        panel-body.hidden
            +infoHeader( "Client Payment: ", displayFields)
            .tab-content.is-active
                .read
                    - const listInfo = [{key:'number',text:'Number'},{key:'client',text:'Client'},{key:'invoice',text:'Invoice'},{key:'amount',text:'Amount'},{key:'paymentMode',text:'Payment Mode'}]
                    +information(listInfo)
                .edit
                    +clientPaymentForm(target,"update")
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux Client Payment
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +clientPaymentForm(target,"create")

block content 
  .model.modelSmall
    - const col = ['number', 'client', 'invoice', 'date', 'amount', 'paymentMode']
    - const list = ['Number', 'Client', 'Invoice', 'Date', 'Amount', 'Payment Mode']
    - const items = 10
    +dataTable(target,lists,col,items, "Liste des client payment", displayFields)