
extends layout
include mixins/_consultationForm
include components/_dataTable
include components/_searchItemCrud
include components/_prescriptionGrid
include components/_infoHeader
include components/_consultationInfo
//-Consultation Page



block panelHeader
    - const target = 'consultation'
    - const targetPrescription = 'prescription'
    - const actionForm= '/api/prescription/'
    - const targetRecoder = 'audiorecording'
    - const fields = 'patient.name'
    - const displayFields = 'patient.name|patient.surname'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)

block panelBody
    .clearfix
   

    .panelContent.component(data-component="view-details" data-page="consultation")
        .panel-body.hidden
            +infoHeader( "Consultation: ", displayFields)
            .tab-content
                .read
                    +consultationInfo({targetRecoder,targetPrescription})    
                .edit.hidden
                    +consultationForm(target,"update",consultationTypes,doctor)


block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter une nouvelle consultation
                != h.icon('plus-circle') 
            .whiteBg
            .box 
                +consultationForm(target,"create",consultationTypes,doctor)


block content
  .consultationPage    
    .model.modelSmall.hidden(data-model="prescription")
        +prescriptionGrid({targetPrescription, targetRecoder ,actionForm,title:'Ordonnance #1 - M. Sehnoun Sophian'})
    .model.modelSmall(data-model="dataTable")
        - const col = ['patient.name|patient.surname','consultationType.name','date','total','paymentStatus']  
        - const items = 10
        - const lists = ['Nom de Patient','Type de Consultation','Date','Status de Paiement']
        - const viewType="consultation";
        +dataTable(target,lists,col,items, "Liste des Consultations", displayFields,viewType)
       
    

    