
extends layout
include mixins/_consultationForm
include mixins/_dataTable
include mixins/_searchForm
include components/_prescriptionGrid
include components/_infoHeader
include components/_consultationInfo
//-Consultation Page



block panelHeader
    - const searchAction = '/api/consultation/search?fields=patient.name,date&q='
    - const get = '/api/consultation/get/'
    - const read = '/api/consultation/read/'
    - const remove = '/api/consultation/delete/'
    - const titleColumn = 'patient.name'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction,"consultation",titleColumn, read)

block panelBody
    .clearfix
   

    .panelContent.component(data-component="view-details" data-page="consultation")
        .panel-body.hidden
            +infoHeader(read, remove, "Consultation: ", titleColumn)
            .tab-content
                .read
                    +consultationInfo()    
                .edit.hidden
                    +consultationForm('/api/consultation/',consultationTypes,doctor)

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter une nouvelle consultation
                != h.icon('plus-circle') 
            .whiteBg
            .box 
                +consultationForm('/api/consultation/',consultationTypes,doctor)


block content
  .consultationPage    
    .model.modelSmall.hidden(data-model="prescription")
        +prescriptionGrid('/api/prescription/', 'Ordonnance #1 - M. Sehnoun Sophian')
    .model.modelSmall(data-model="dataTable")
        - const col = ['patient.name|patient.surname','consultationType.name','date','total','paymentStatus']  
        - const items = 20
        - const lists = ['Nom de Patient','Type de Consultation','Date','Status de Paiement']
        - const viewType="consultation";
        +dataTable(lists,get,read,remove,col,items,"Liste des RDV", titleColumn,viewType)
    

    