extends layout 
include mixins/_currencyTypeForm
include mixins/_searchForm
include mixins/_dataTable
include mixins/_information
include components/_infoHeader

block panelHeader
    - const searchAction = '/api/currency/search?q='
    - const get = '/api/currency/get/'
    - const read = '/api/currency/read/'
    - const remove = '/api/currency/delete/'
    - const titleColumn = 'name'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction,"currency",titleColumn, read)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="currency")
        .panel-body.hidden
            +infoHeader(read, remove, "Currency Type: ", titleColumn)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'symbol',text:'symbole'},{key:'decimalSeparator',text:'Séparateur décimal'},{key:'thousandSeparator',text:'Séparateur de milliers'},{key:'isDefault',text:'Est par défaut'}]
                    +information(listInfo)
                .edit.hidden
                    +currencyTypeForm('/api/currency/')

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +currencyTypeForm('/api/currency/')

block content 
    .model.modelSmall
        - const col = ["name", "symbol", "decimalSeparator", "thousandSeparator", "isDefault"]
        - const list = ["Nom", "symbole", "Séparateur décimal", "Séparateur de milliers", "Est par défaut"]
        - const items = 20
        +dataTable(list,get,read,remove,col,items, "Currency Types", titleColumn)
