extends layout 
include mixins/_customMenuForm
include components/_searchForm
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'customMenu'
    - const fields = 'title'
    - const displayFields = 'title'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(target,fields,displayFields)

block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="customMenu")
        .panel-body.hidden
            +infoHeader( "Custom Menu : ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'title',text:'Title'},{key:'slug',text:'Url'},{key:'parent.title',text:'Parent Menu'},{key:'icon',text:'Icon'},{key:'enabled',text:'Enabled'}]
                    +information(listInfo)
                .edit.hidden
                    +customMenuForm(target,"update")

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +customMenuForm(target,"create")

block content 
    .model.modelSmall
        - const col = ["title", "slug", "parent.title", "icon", "enabled"]
        - const list = ["Title", "Url", "Parent Menu", "Icon", "Enabled"]
        - const items = 10
        +dataTable(target,lists,col,items, "Custom Menu", displayFields)

