extends layouts/layoutDashboard

block content
  p.panelTitle Tableau de bord Secrétariat
    .dashboard-container
      .high-level-info-container
        .content-row
          .col-6
            .section
              .section-header
                  span Consultations / Aujourd'huit
              .section-content
                  .inner-item
                      .value 175
                      .description RDV
                  .seperator
                  .inner-item
                      .value 78
                      .description Venues
                  .seperator
                  .inner-item
                      .value 43
                      .description Passées

          .col-6
            .section
              .section-header
                  span Laboratoires / Aujourd'huit
              .section-content
                  .inner-item
                      .value 175
                      .description RDV
                  .seperator
                  .inner-item
                      .value 78
                      .description Venues
                  .seperator
                  .inner-item
                      .value 43
                      .description Passées

          .col-6
            .section
              .section-header
                  span Imageric Médicale / Aujourd'huit
              .section-content
                  .inner-item
                      .value 175
                      .description RDV
                  .seperator
                  .inner-item
                      .value 78
                      .description Venues
                  .seperator
                  .inner-item
                      .value 43
                      .description Passées

          .col-6
            .section
              .section-header
                  span Liste des Taches
              .section-content
                  .inner-item
                      .value 25
                      .description Taches
                  .seperator
                  .inner-item
                      .value.value-with-icon!= h.icon("star")
                        | 05
                      .description Taches Prioritaires
                  .inner-item

      .mid-level-info-container
        .content-row.align-start
          .col-6
            .section
              .section-header
                  span Consultations Ticket
              .section-content.align-start.equal-height-mid-sec
                  .inner-item
                      .mid-lev-desc Dr. Benhamed M
                      .mid-lev-desc Dr. Belbachir SSS
                      .mid-lev-desc Dr. Benhamed M
                      .mid-lev-desc Dr. Belbachir SSS
                      .mid-lev-desc Dr. Benhamed M
                      .mid-lev-desc Dr. Belbachir SSS
                      
                  .seperator-tall
                  .inner-item
                      .mid-lev-desc #38 - B21
                      .mid-lev-desc #38 - B21
                      .mid-lev-desc #38 - B21
                      .mid-lev-desc #38 - B21
                      .mid-lev-desc #38 - B21
                      .mid-lev-desc #38 - B21

          .col-6
            .section
              .section-header
                  span Laboratoires Ticket
              .section-content.align-start.equal-height-mid-sec
                  .inner-item
                      .mid-lev-desc Labo A1
                      .mid-lev-desc Labo A2
                  
                  .inner-item 
                  .seperator-tall
                  .inner-item
                      .mid-lev-desc #38 - B21
                      .mid-lev-desc #38 - B21

          .col-6
            .section
              .section-header
                  span Imageric Médicale Ticket
              .section-content.align-start.equal-height-mid-sec
                  .inner-item
                      .mid-lev-desc EchoDoppler
                      .mid-lev-desc Echographie
                      .mid-lev-desc Endoscopie
                      .mid-lev-desc IRM
                      .mid-lev-desc Memographie
                      .mid-lev-desc Panaramique Dentaire
                      .mid-lev-desc Radiology
                      .mid-lev-desc Scanner
                      
                  .seperator-tall
                  .inner-item
                      .mid-lev-desc #38 - B21
                      .mid-lev-desc #38 - B21
                      .mid-lev-desc #38 - B21

          .col-6
            .section
              .section-header
                  span Taches Priorities
              .section-content.align-start.equal-height-mid-sec
                  .inner-item
                      .mid-lev-desc #1
                      .mid-lev-desc #2
                      .mid-lev-desc #3
                      .mid-lev-desc #4
                      .mid-lev-desc #5
                      .mid-lev-desc #6
                      
                  .seperator-tall
                  .inner-item
                      .mid-lev-desc Impremer les ordonance
                      .mid-lev-desc Appeler IDURAR Web Agency
                      .mid-lev-desc Recuperer les Clé
                      .mid-lev-desc Impremer les ordonance
                      .mid-lev-desc Appeler IDURAR Web Agency
                      .mid-lev-desc Recuperer les Clé

      .detail-level-info-container.page-content-container
        .content-row.align-start
          .col-12
            .section
              .section-header
                span Enregistrer un reglement
              .section-content
                .section-content-wrapper
                  .tab-container.tab-continer-extend
                    .single-item.meta-title-row
                        .item-row.item-row-extend
                            .item-data
                                | ID: 1 820219 99 190502 0
                            .item-data
                                | M. Sehnoun Sophian

                  .space-15
                  .content-row
                    .col-12
                        label(for="pour") Pour:
                        select(name='pour')
                            option(value='01') Consultation #225
                            option(value='02') Consultation #250
                            option(value='03') Consultation #300               
                    .col-12
                        label(for="paid_amount") Montant à régler:
                        input(type="text" name="paid_amount" autocomplete="off")  


                  .space-15
                  .content-row
                    .col-12
                      .content-row.mb-10
                        .col-12.omega
                          span.key N&deg; Consultation
                        .col-12
                          span.colon :
                          span.value # 0000001/18

                    .col-12
                      .content-row.mb-10
                        .col-12.omega
                          span.key Date de Consultation
                        .col-12
                          span.colon :
                          span.value 25/02/2020

                    .col-12
                      .content-row.mb-10
                        .col-12.omega
                          span.key Department / Medecin
                        .col-12
                          span.colon :
                          span.value Dr. Benhamed

                    .col-12
                      .content-row.mb-10
                        .col-12.omega
                          span.key Montant Verse
                        .col-12
                          span.colon :
                          span.value 00,00 DA


                  .space
                  .content-row
                      .col-9
                          button(type="button" class="btn primary-btn icon-btn" ) Enregistrer
                              != h.icon('check-circle') 
                      .col-9
                          button(type="button" class="btn secondary-btn icon-btn" data-modal-close) Retour
                              != h.icon('left-arrow-circle')
                  .space
        
          .col-12
            .section
              .section-header
                span GESTION DE RDV - Ajouter un nouveau RDV
              .section-content
                .section-content-wrapper
                  .tab-container.tab-continer-extend
                    .single-item.meta-title-row
                        .item-row.item-row-extend
                            .item-data
                                | ID: 1 820219 99 190502 0
                            .item-data
                                | M. Sehnoun Sophian

                  .space-15
                  .content-row
                    .col-12
                        label(for="date") Date:
                        select(name='date')
                            option(value='01') Samedi 25/02/2019
                            option(value='02') Samedi 25/02/2019
                            option(value='03') Samedi 25/02/2019     
                    .col-12
                        label(for="hour") Heure:
                        select(name='hour')
                            option(value='01') 14:00
                            option(value='02') 14:00
                            option(value='03') 14:00               
                  
                  .content-row
                    .col-12
                        label(for="dept") Department:
                        select(name='dept')
                            option(value='01') Medecine
                            option(value='02') Medecine
                            option(value='03') Medecine               
                    .col-12
                        label(for="medecine") Medecine:
                        input(type="text" name="medecine" autocomplete="off")  

                  .space-15
                  .content-row
                      .col-9
                          button(type="button" class="btn primary-btn icon-btn" ) Enregistrer
                              != h.icon('check-circle') 
                      .col-9
                          button(type="button" class="btn secondary-btn icon-btn" data-modal-close) Retour
                              != h.icon('left-arrow-circle')
                  .space          