extends layoutDashboard
include mixins/_doctorForm
include mixins/_dataTable
include mixins/_consultationList
include mixins/_consultationAside



block content
  .doctorPage
    .content-row
        .col-6.pr-20
            .aside-container
                +consultationAside
        .col-14.ml-20
            .content-container
                - const actionForm = 'api/doctor/'
                - const action = 'api/doctor/get/'
                - const show = 'api/doctor/read/'
                - const col = ["doctor.name",'doctor.surname','specialty.name','status']  
                - const items = 20
                - const lists = ['Nom','Prenom','Specialite','Status']
                //- +dataTable(lists,action,show,col,items)
                +consultationList(actionForm, 'Liste des Consultations')