
extends layouts/default
include mixins/_departmentForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'department'
    - const fields = 'name'
    - const displayFields = 'name'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="department")
        .panel-body.hidden
            +infoHeader( "Department: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'description',text:'Description'}]
                    +information(listInfo)
                .edit.hidden
                    +departmentForm(target,"update")
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +departmentForm(target,"create")
                


block content
  .departmentPage    
    .model.modelSmall
        - const col = ['name','description']  
        - const items = 10
        - const list = ['Nom','description']
        +dataTable(target,lists,col,items, "Liste des Département", displayFields)

    