
extends layout
include mixins/_doctorForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'doctor'
    - const fields = 'name,surname'
    - const displayFields = 'name|surname'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="doctor")
        .panel-body.hidden
            +infoHeader( "Doctor: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'surname',text:'Nom de famille'},{key:'email',text:'Email'},{key:'department',text:'département'},{key:'position',text:'Position'},{key:'tel',text:'Téléphone'},{key:'enabled',text:'Activée'}]
                    +information(listInfo)
                .edit.hidden
                    +doctorForm(target,"update", department, specialty)
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +doctorForm(target,"create", department, specialty)
        
        

block content
  .doctorPage    
    .model.modelSmall
        - const col = ['name', 'surname', 'email', 'specialty.name', 'tel']  
        - const limit = 20
        - const lists = ['Nom', 'Prenom', 'Email', 'Specialty', 'Téléphone']
        +dataTable(target,lists,col,items,"Doctors", displayFields)

    