
extends layout
include mixins/_employeeForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'employee'
    - const fields = 'name,surname'
    - const displayFields = 'name|surname'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="employee")
        .panel-body.hidden
            +infoHeader( "Employee: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'surname',text:'Prenom'},{key:'email',text:'Email'},{key:'department.name',text:'département'},{key:'position.name',text:'Position'},{key:'phone',text:'Téléphone'}]
                    +information(listInfo)
                .edit.hidden
                    +employeeForm(target,"update", departmentsList,positionsList)
               

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +employeeForm(target,"create",  departmentsList,positionsList)
        

block content
  .employeePage    
    .model.modelSmall
        - const col = ['name', 'surname', 'email', 'department.name', 'position.name', 'phone']  
        - const limit = 20
        - const lists = ['Nom', 'Prenom', 'Email', 'département', 'Position', 'Téléphone']
        +dataTable(target,lists,col,items,"Employees", displayFields)

    