
extends layout
include mixins/_employeeForm
include components/_searchForm
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'employee'
    - const fields = 'name,surname'
    - const displayFields = 'name|surname'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(target,fields,displayFields)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="employee")
        .panel-body.hidden
            +infoHeader( "Employee: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'surname',text:'Nom de famille'},{key:'email',text:'Email'},{key:'department',text:'département'},{key:'position',text:'Position'},{key:'tel',text:'Téléphone'},{key:'enabled',text:'Activée'}]
                    +information(listInfo)
                .edit.hidden
                    +employeeForm(target,"update", department,position, specialty)
               

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +employeeForm(target,"create", department,position, specialty)
        

block content
  .employeePage    
    .model.modelSmall
        - const col = ['name', 'surname', 'email', 'department', 'position', 'tel', 'enabled']  
        - const limit = 20
        - const header = ['Nom', 'Nom de famille', 'Email', 'département', 'Position', 'Téléphone', 'Activée']
        +dataTable(target,lists,col,items,"Employees", displayFields)

    