extends layout 
include mixins/_expenseForm
include mixins/_searchForm
include mixins/_dataTable
include mixins/_information
include components/_infoHeader

block panelHeader
    - const searchAction = '/api/expense/search?q='
    - const get = '/api/expense/get/'
    - const read = '/api/expense/read/'
    - const remove = '/api/expense/delete/'
    - const titleColumn = 'name'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction,"expense",titleColumn, read)

block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="expense")
        .panel-body.hidden
            +infoHeader(read, remove, "Expense: ", titleColumn)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'symbol',text:'symbole'},{key:'decimalSeparator',text:'Séparateur décimal'},{key:'thousandSeparator',text:'Séparateur de milliers'},{key:'isDefault',text:'Est par défaut'}]
                    +information(listInfo)
                .edit.hidden
                    +expenseForm('/api/expense/')

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +expenseForm('/api/expense/')

block content 
    .model.modelSmall
        - const col = ["name", "ref", "date", "total"]
        - const list = ["Nom", "Ref", "Date", "Total"]
        - const items = 20
        +dataTable(list,get,read,remove,col,items, "Expenses", titleColumn)

