extends layouts/default 
include components/_invoiceGrid


  
block content 
  .model.modelLarge
    - const get = '/api/invoice/get/'
    - const read = '/api/invoice/read'
    - const remove = '/api/invoice/delete'
    - const col = ['quantity', 'price', 'total']
    - const list = ['quantité', 'montant', 'total']
    - const items = 10

    +invoiceGrid()