extends layouts/largeLayout 
include components/_invoiceModule


  
block content 
  .model.modelLarge
    - const targetInvoice = 'invoice'
    - const targetClient = 'client'
    - const targetItem = 'item'

    +invoiceModule({title,currencies,targetInvoice,targetClient,targetItem})