extends layouts/largeLayout 
include components/_invoiceModule


  
block content 
  .model.modelLarge
    - const targetErp = 'invoice'
    - const targetClient = 'client'
    - const targetItem = 'item'

    +invoiceModule({title,currencies,targetErp,targetClient,targetItem})