extends layout 
include mixins/_invoiceNew
include mixins/_invoiceForm

//- Invoices 

block panelHeader
  p.panelTitle #{title}
block panelBody 
  - const actionForm = '/api/invoice/'
    
  
    //- .tab-content.is-active
      .show 
        
      .edit
          +invoiceForm(actionForm)
  
block content 
  .model.modelLarge
    - const get = '/api/invoice/get/'
    - const read = '/api/invoice/read'
    - const remove = '/api/invoice/delete'
    - const col = ['quantity', 'price', 'total']
    - const list = ['quantité', 'montant', 'total']
    - const items = 10

    +invoiceNew(actionForm, 'Ajouter Une Facture')