extends layout
include mixins/_laboratoryForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'laboratory'
    - const fields = 'patient.name'
    - const displayFields = 'patient.name'
    - const searchAction = '/api/laboratory/search?q='
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="laboratory")
        .panel-body.hidden
            +infoHeader( "laboratory Date :", 'date|_id')
            .tab-content
                .read
                    - const listInfo = [{key:'patient.name',text:'Patient'}, {key:'date',text:'Date'},{key:'appointment',text:'Aappointment'},{key:'total',text:'Total'},{key:'payment',text:'payment.id'},{key:'credit',text:'Credit'},{key:'discount',text:'Discount'},{key:'paymentStatus',text:'Payment Status'},{key:'pdfPath',text:'PDFPath'},{key:'created',text:'Created'}]
                    +information(listInfo)
                .edit.hidden
                    - const actionForm = '/api/laboratory/'
                    +laboratoryForm(actionForm, 1)

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +laboratoryForm(actionForm, 1)


block content
    .doctorPage    
        .model.modelSmall
            - const col = ['patient.name|patient.surname', 'date', 'appointment', 'total', 'payment', 'created']
            - const items = 10
            - const lists = ['Patient', 'Date', 'Appointment', 'Total', 'Payment', 'Created']
            +dataTable(target,lists,col,items,"Laboratory")

