
extends layout
include mixins/_medicamentForm
include mixins/_searchForm
include mixins/_dataTable
include mixins/_information
include components/_infoHeader

block panelHeader
    - const searchAction = '/api/medicament/search?q='
    - const get = '/api/medicament/get/'
    - const read = '/api/medicament/read/'
    - const remove = '/api/medicament/delete/'
    - const titleColumn = 'name'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction, "medicament", titleColumn, read)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="medicament")
        .panel-body.hidden
            +infoHeader(read, remove, "Medicament: ", titleColumn)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'description',text:'Description'},{key:'status',text:'En Service'}]
                    +information(listInfo)
                .edit.hidden
                    +medicamentForm('/api/medicament/')

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +medicamentForm('/api/medicament/')

block content
    .medicamentPage    
        .model.modelSmall

            - const col = ['name', 'description','status']  
            - const limit = 20
            - const header = ['Nom', 'Description','En Service']
            +dataTable(header, get, read, remove, col, limit, "Medicaments", titleColumn)
