extends layout 
include mixins/_mriForm
include mixins/_mriContent


//- Mri Scans 

block panelHeader
  p.panelTitle #{title}

block panelBody 
  - const actionForm = '/api/mriScan/'
  +mriForm(actionForm)
      
block content 
  .model.modelSmall
    - const get = '/api/mriScan/get/'
    - const read = '/api/mriScan/read'
    - const remove = '/api/mriScan/delete'
    - const col = ['payment','credit', 'discount', 'paymentStatus']
    - const list = ['payement','credit', 'remise', 'statut de paiement']
    - const items = 20
    +mriContent(actionForm, 'M. Sehnoun Sophian')