extends layout 
include components/_searchItemCrud
include mixins/_orderForm
include components/_dataTable

//- Order Page

block panelHeader
    - const target = 'orderForm'
    - const fields = 'name'
    - const displayFields = 'number'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)
        

block panelBody 
    
    .clearfix
    .panelContent.component(data-component="view-details" data-page="orderForm")
        .panel-body.hidden
            +infoHeader( "Order: ", displayFields)
            .tab-content.is-active
                .show 
                .edit
                    +orderForm(target,"update")
                    

block content 
    .model.modelSmall
        - const col = ['number', 'date', 'client', 'dateExpired', 'supplier', 'total']
        - const lists = ['Number', 'Date', 'Client', 'Expired Date', 'fournisseur', 'Total']
        - const limit = 20
        +dataTable(target,lists,col,items,"Orders", displayFields)
