extends layout 
include mixins/_searchForm
include mixins/_orderForm
include mixins/_dataTable

//- Order Page

block panelHeader
    - const actionForm = '/api/orderForm/'
    - const get = '/api/orderForm/get/'
    - const read = '/api/orderForm/read'
    - const remove = '/api/orderForm/delete'
    - const titleColumn = 'number'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction,"orderForm", titleColumn, read)

block panelBody 
    
    .clearfix
    .panelContent.component(data-component="view-details" data-page="orderForm")
        .panel-body.hidden
            +infoHeader(read, remove, "Order: ", titleColumn)
            .tab-content.is-active
                .show 
                .edit
                    +orderForm(actionForm)

block content 
    .model.modelSmall
        - const col = ['number', 'date', 'client', 'dateExpired', 'supplier', 'total']
        - const header = ['Number', 'Date', 'Client', 'Expired Date', 'fournisseur', 'Total']
        - const limit = 20
        +dataTable(header, get, read, remove, col, limit, "Orders", titleColumn)
