extends layout
include mixins/_searchForm
include mixins/_patientForm
include mixins/_dataTable
include mixins/patient/_information
include mixins/_consultation
include components/_infoHeader

block panelHeader
    - const get = '/api/patient/get/'
    - const read = '/api/patient/read/'
    - const remove ='/api/patient/delete/'
    - const searchAction = '/api/patient/search?q='
    - const titleColumn = 'name|surname|birthday'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction, 'patient', titleColumn, read)
block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="patient")
        .panel-body.hidden
            +infoHeader(read, remove, "Patient: ", "name|surname", true)
            +patientInformation(listInfo)



block panelFooter    
    - const actionForm = '/api/patient/'                
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                != h.icon('plus-circle') 
                | Ajouter un nouveaux Patient
                span.arrow-right
                    != h.icon('arrow-right')
            .whiteBg
            .box
                +patientForm(actionForm)                                    

block content
    .model.modelSmall
        - const col = ['name','surname','sexe','birthday','tel']  
        - const items = 20
        - const lists = ['Nom','Prenom','Sexe','Date de Naissance','Telephone']
        +dataTable(lists,get,read,remove,col,items, "Liste des patients", "name|surname")

