extends layout
include mixins/_searchForm
include mixins/_patientForm
include mixins/_dataTable
include mixins/patient/_information
include mixins/_consultation
include components/_infoHeader

block panelHeader
    - const target = 'patient'
    - const fields = 'name,surname,birthday'
    - const displayFields = 'name|surname|birthday'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(target,fields,displayFields)
block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="patient")
        .panel-body.hidden
            +infoHeader("Patient: ", "name|surname", false)
            +patientInformation(target,"update")



block panelFooter                   
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                != h.icon('plus-circle') 
                | Ajouter un nouveaux Patient
                span.arrow-right
                    != h.icon('arrow-right')
            .whiteBg
            .box
                +patientForm(target,"create")                                    

block content
    .model.modelSmall
        - const col = ['name','surname','sexe','birthday','tel']  
        - const items = 10
        - const lists = ['Nom','Prenom','Sexe','Date de Naissance','Telephone']
        +dataTable(target,lists,col,items, "Liste des patients", "name|surname")

