extends layouts/default 
include mixins/_paymentForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'payment'
    - const fields = 'name'
    - const displayFields = 'number'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)
        


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="payment")
        .panel-body.hidden
            +infoHeader( "Payement: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'number',text:'#Nbr'},{key:'employee',text:'Employée'},{key:'patient',text:'Patient'},{key:'amount',text:'Montant'},{key:'currency',text:'Unité'},{key:'paymentMode',text:'Mode de payement'}]
                    +information(listInfo)
                .edit.hidden
                    +paymentForm(target,"update", employees, patients, currencies, paymentModes, doctors)
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +paymentForm(target,"create", employees, patients, currencies, paymentModes, doctors)

block content 
    .model.modelSmall
        - const col = ['number', 'employee', 'patient', 'amount', 'currency', 'paymentMode']
        - const lists = ['#Nbr', 'Employée', 'Patient', 'Montant', 'Unité', 'mode de payement']
        - const limit = 20
        +dataTable(target,lists,col,items,"Payements", displayFields)
