extends layout 
include mixins/_paymentForm
include mixins/_searchForm
include mixins/_dataTable
include mixins/_information
include components/_infoHeader

block panelHeader
    - const searchAction = '/api/payment/search?q='
    - const get = '/api/payment/get/'
    - const read = '/api/payment/read/'
    - const remove = '/api/payment/delete/'
    - const titleColumn = 'number'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction,"payment",titleColumn, read)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="payment")
        .panel-body.hidden
            +infoHeader(read, remove, "Payement: ", titleColumn)
            .tab-content         
                .read
                    - const listInfo = [{key:'number',text:'#Nbr'},{key:'employee',text:'Employée'},{key:'patient',text:'Patient'},{key:'amount',text:'Montant'},{key:'currency',text:'Unité'},{key:'paymentMode',text:'Mode de payement'}]
                    +information(listInfo)
                .edit.hidden
                    +paymentForm('/api/payment/', employees, patients, currencies, paymentModes, doctors)

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +paymentForm('/api/payment/', employees, patients, currencies, paymentModes, doctors)

block content 
    .model.modelSmall
        - const col = ['number', 'employee', 'patient', 'amount', 'currency', 'paymentMode']
        - const header = ['#Nbr', 'Employée', 'Patient', 'Montant', 'Unité', 'mode de payement']
        - const limit = 20
        +dataTable(header, get, read, remove, col, limit, "Payements", titleColumn)
