extends layout 
include mixins/_paymentModeForm
include components/_searchForm
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'paymentMode'
    - const fields = 'name'
    - const displayFields = 'company'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(target,fields,displayFields)
        


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="paymentMode")
        .panel-body.hidden
            +infoHeader( "Payment Mode: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'description',text:'Description'},{key:'enabled',text:'Activée'}]
                    +information(listInfo)
                .edit.hidden
                    +paymentModeForm(target,"update")
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +paymentModeForm(target,"create")
                

block content 
    .model.modelSmall
        - const col = ['name', 'description', 'enabled' ]
        - const header = ['nom', 'Description', 'Activée' ]
        - const limit = 20
        +dataTable(target,lists,col,items,"Payment Modes",displayFields)
