
extends layouts/default
include mixins/_positionForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'position'
    - const fields = 'name'
    - const displayFields = 'name'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)
        


block panelBody
    .clearfix
        .panelContent.component(data-component="view-details" data-page="position")
            .panel-body.hidden
                +infoHeader( "Position: ", displayFields)
                .tab-content         
                    .read
                        - const listInfo = [{key:'name',text:'Nom'},{key:'description',text:'Description'}]
                        +information(listInfo)
                    .edit.hidden
                        +positionForm(target,"update")
                        

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +positionForm(target,"create")
                

block content
    .positionPage    
        .model.modelSmall
            - const col = ['name','description']  
            - const limit = 20
            - const lists = ['Nom','Description']
            +dataTable(target,lists,col,items,"Positions", displayFields)
