extends layout 
include mixins/_quoteForm
include components/_searchForm
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'quote'
    - const fields = 'name'
    - const displayFields = 'number'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(target,fields,displayFields)
       


block panelBody
    .clearfix
        .panelContent.component(data-component="view-details" data-page="quote")
            .panel-body.hidden
                +infoHeader( "Quote: ", displayFields)
                .tab-content         
                    .read
                        - const listInfo = [{key:'number',text:'Number'},{key:'date',text:'Date'},{key:'client',text:'Client'},{key:'dateExpired',text:'Expired Date'},{key:'currency',text:'Unité'},{key:'total',text:'Total'}]
                        +information(listInfo)
                    .edit.hidden
                        +quoteForm(target,"update", employees, currencies)

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +quoteForm(target,"create", employees, currencies)

block content 
    .model.modelSmall
        - const col = ['number', 'date', 'client', 'dateExpired', 'total']
        - const lists = ['Number', 'Date', 'Client', 'Expired Date', 'Total']
        - const limit = 20
        +dataTable(target,lists,col,items,"Quote", displayFields)
