extends layout

//- Error Page

block panelHeader
    p.panelTitle #{title}


block content
    - const get = 'api/record-audio/get/'
    - const create = 'api/record-audio/create/'
    - const remove = 'api/record-audio/delete/'
    .model.modelSmall
        .audio-recorder
            .col-24
                .component(data-component="audio-recorder" data-save-action=create  data-get-action=get data-remove-action=remove)
                    div.controls
                        .recordings-status
                            .status
                        .buttons
                            button.recordButton Record
                            button.stopButton(disabled) Stop
                        .upload-progress

                    .recordings
                        h3 Recordings
                        ul.recordings-list
