
extends layout
include mixins/_roleForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'role'
    - const fields = 'displayName'
    - const displayFields = 'displayName'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="role")
        .panel-body.hidden
            +infoHeader( "Role: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'displayName',text:'Nom'},{key:'codeName',text:'Code du role'},{key:'dashboardType',text:'dashboard Type'},{key:'authorizedPages',text:'Pages'}]
                    +information(listInfo)
                .edit.hidden
                    +roleForm(target,"update")
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +roleForm(target,"create")

block content
    .rolePage    
        .model.modelSmall

            - const col = ['displayName', 'codeName', 'dashboardType']  
            - const limit = 20
            - const lists = ['Nom', 'Code', 'Dashboard Type']
            +dataTable(target,lists,col,items,"Roles", displayFields)
