
extends layout
include mixins/_specialtyForm
include components/_searchForm
include components/_dataTable
include components/_information
include components/_infoHeader

block panelHeader
    - const target = 'specialty'
    - const fields = 'name'
    - const displayFields = 'name'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(target,fields,displayFields)
        


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="specialty")
        .panel-body.hidden
            +infoHeader( "Specialty: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'status',text:'En Service'},{key:'enabled',text:'Activée'}]
                    +information(listInfo)
                .edit.hidden
                    +specialtyForm(target,"update")
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +specialtyForm(target,"create")


block content
    .specialtyPage    
        .model.modelSmall
            - const col = ['name','status', 'enabled']  
            - const limit = 20
            - const header = ['Nom','En Service', "Activée"]
            +dataTable(target,lists,col,items,"Specialty", displayFields)
