
extends layout
include mixins/_specialtyForm
include mixins/_searchForm
include mixins/_dataTable
include mixins/_information
include components/_infoHeader

block panelHeader
    - const searchAction = '/api/specialty/search?q='
    - const get = '/api/specialty/get/'
    - const read = '/api/specialty/read/'
    - const remove = '/api/specialty/delete/'
    - const titleColumn = 'name'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction,"specialty",titleColumn, read)


block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="specialty")
        .panel-body.hidden
            +infoHeader(read, remove, "Specialty: ", titleColumn)
            .tab-content         
                .read
                    - const listInfo = [{key:'name',text:'Nom'},{key:'status',text:'En Service'},{key:'enabled',text:'Activée'}]
                    +information(listInfo)
                .edit.hidden
                    +specialtyForm('/api/specialty/')

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +specialtyForm('/api/specialty/')


block content
    .specialtyPage    
        .model.modelSmall
            - const col = ['name','status', 'enabled']  
            - const limit = 20
            - const header = ['Nom','En Service', "Activée"]
            +dataTable(header, get, read, remove, col, limit, "Specialty", titleColumn)
