extends layout 
include mixins/_supplierForm
include mixins/_searchForm
include mixins/_dataTable
include mixins/_information
include components/_infoHeader



block panelHeader
    - const searchAction = '/api/supplier/search?q='
    - const get = '/api/supplier/get/'
    - const read = '/api/supplier/read/'
    - const remove = '/api/supplier/delete/'
    - const titleColumn = 'company'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchForm(searchAction,"supplier", titleColumn, read)

block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="supplier")
        .panel-body.hidden
            +infoHeader(read, remove, "Supplier: ", titleColumn)
            .tab-content         
                .read
                    - const listInfo = [{key : 'company', text: 'Company'}, {key : 'managerName', text: 'ManagerName'}, {key : 'managerSurname', text: 'ManagerSurname'}, {key : 'bankAccount', text: 'BankAccount'}, {key : 'RC', text: 'RC'}, {key : 'AI', text: 'AI'}, {key : 'NIF', text: 'NIF'}, {key : 'NIS', text: 'NIS'}, {key : 'address', text: 'Address'}, {key : 'tel', text: 'Tel'}, {key : 'fax', text: 'Fax'}, {key : 'cell', text: 'Cell'}, {key : 'email', text: 'Email'}, {key : 'website', text: 'Website'}]
                    +information(listInfo)
                .edit.hidden
                    +supplierForm('/api/supplier/')

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +supplierForm('/api/supplier/')


block content 
    .model.modelSmall
        - const col = ['company', 'managerName', 'managerSurname', 'email', 'website']
        - const header = ['Company', 'ManagerName', 'ManagerSurname', 'Email', 'Website']
        - const limit = 20
        +dataTable(header, get, read, remove, col, limit, "Supplier", titleColumn)