extends layouts/default 
include mixins/_supplierForm
include components/_searchItemCrud
include components/_dataTable
include components/_information
include components/_infoHeader



block panelHeader
    - const target = 'supplier'
    - const fields = 'name'
    - const displayFields = 'company'
    p.panelTitle #{title}
    .space-25
    .search-container
        +searchItemCrud(target,fields,displayFields)

block panelBody
    .clearfix
    .panelContent.component(data-component="view-details" data-page="supplier")
        .panel-body.hidden
            +infoHeader( "Supplier: ", displayFields)
            .tab-content         
                .read
                    - const listInfo = [{key : 'company', text: 'Company'}, {key : 'managerName', text: 'ManagerName'}, {key : 'managerSurname', text: 'ManagerSurname'}, {key : 'bankAccount', text: 'BankAccount'}, {key : 'RC', text: 'RC'}, {key : 'AI', text: 'AI'}, {key : 'NIF', text: 'NIF'}, {key : 'NIS', text: 'NIS'}, {key : 'address', text: 'Address'}, {key : 'tel', text: 'Tel'}, {key : 'fax', text: 'Fax'}, {key : 'cell', text: 'Cell'}, {key : 'email', text: 'Email'}, {key : 'website', text: 'Website'}]
                    +information(listInfo)
                .edit.hidden
                    +supplierForm(target,"update")
                    

block panelFooter                    
    .component(data-component="accordionForm")
        .accordionForm
            .accordionFormHeader 
                | Ajouter un nouveaux #{title}
                != h.icon('plus-circle') 
            .whiteBg
            .box
                +supplierForm(target,"create")
                


block content 
    .model.modelSmall
        - const col = ['company', 'managerName', 'managerSurname', 'email', 'website']
        - const lists = ['Company', 'ManagerName', 'ManagerSurname', 'Email', 'Website']
        - const limit = 20
        +dataTable(target,lists,col,items,"Supplier", displayFields)