extends layouts/default
 
block content
  h1= title
  p Welcome to #{title}
  form(method='post', action="/upload" enctype='multipart/form-data')
    input(type='file', name='imageupload')
    input(type='submit', name='uploadimage', value='Upload File')