<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Error 500 | Front - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/dist/assets/vendor/icon-set/style.css">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="/dist/assets/css/theme.min.css">
  </head>

  <body>
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main">
      <!-- Content -->
      <div class="container">
        <a class="position-absolute top-0 left-0 right-0" href="index.html">
          <img class="avatar avatar-xl avatar-4by3 avatar-centered" src="/dist/assets/svg/logos/logo.svg" alt="Image Description">
        </a>

        <div class="footer-height-offset d-flex justify-content-center align-items-center flex-column">
          <div class="row align-items-sm-center w-100">
            <div class="col-sm-6">
              <div class="text-center text-sm-right mr-sm-4 mb-5 mb-sm-0">
                <img class="w-60 w-sm-100 mx-auto" src="/dist/assets/svg/illustrations/think.svg" alt="Image Description" style="max-width: 15rem;">
              </div>
            </div>

            <div class="col-sm-6 col-md-4 text-center text-sm-left">
              <h1 class="display-1 mb-0">500</h1>
              <p class="lead">The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
              <p><%= error %></p>
              <a class="btn btn-primary" href="javascript:;">Reload page</a>
            </div>
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Content -->

      <!-- Footer -->
      <div class="footer text-center">
        <ul class="list-inline list-separator">
          <li class="list-inline-item">
            <a class="list-separator-link" href="#">Front Support</a>
          </li>

          <li class="list-inline-item">
            <a class="list-separator-link" href="#">Front Status</a>
          </li>

          <li class="list-inline-item">
            <a class="list-separator-link" href="#">Get Help</a>
          </li>
        </ul>
      </div>
      <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

  
    
  </body>
</html>