extends layout

//- Account edit page
block content
    .innter-content
        h1 500 ERROR
        p Ohh..... There is error on server
        p #{error}
        div.home-link
            a.button.save(href="/") Home Page