extends layout

//- Account edit page
block content
    .innter-content
        h1 404 ERROR
        p Ohh..... You Requested the page that is no longer There.
        
        div.home-link
            a.button.save(href="/") Home Page