doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
      block pageId
      
     
      .container
        .col-12
          block content
    
     
      block scripts
         script(src="/dist/App.bundle.js")
   
   
