include ../../components/_information
include ../list/paymentList
include ../list/consultationsList
include ../list/analysesList
include ../list/RDVList


mixin patientInformation(target={},formState={})
    - const actionForm = '/api/patient/'
    .component(data-component="tabContent")
        #tabs1.tab-contents.no-js
            .tab-nav
                a.tab-link.is-active(data-tabType="info") Informations
                a.tab-link(data-tabType="appointment") RDV
                a.tab-link(data-tabType="consultation") Consultations
                a.tab-link(data-tabType="Analysis") Analyses
                .moreOption
                    .toggle
                        != h.icon("more")
                        ul.toggleOption
                            li.tab-link(data-tabType="mri") IRM & Scanner
                            li.tab-link(data-tabType="payment") Regelements
            .panelContent                    
                .tab-content
                    .read
                        - const listInfo = [{key:'patientId',text:'Patient ID'},{key:'name',text:'Nom'},{key:'surname',text:'Prenom'},{key:'birthday',text:'Date de Naissance'},{key:'birthplace',text:'lieu de naissance'},{key:'sexe',text:'Sexe'},{key:'boldType',text:'Goupe Sangain'},   {key:'size',text:'Taille'},{key:'weight',text:'Poids'},{key:'address',text:'adresse'},{key:'state',text:'Ville'},{key:'job',text:'Profession'},{key:'urgentContact',text:'Personne ECU'},{key:'tel',text:'Tel'},{key:'email',text:'Email'}]
                        +information(listInfo)
                    .edit.hidden
                        +patientForm(target,formState)
                .tab-content
                    //- RDV Tab
                    .tab-container
                        +RDVList()
                        .col-12.alpha    
                            button(type="submit" class="btn primary-btn icon-btn") Ajouter un RDV
                                != h.icon('plus-circle')                                 

                .tab-content
                    //- consultation Tab
                    .tab-container
                        +consultationsList()
                        .col-14.alpha   
                            button(type="submit" class="btn primary-btn icon-btn") Ajouter une consultation
                                != h.icon('plus-circle')   

                .tab-content
                    //- Analyses
                    .tab-container
                        +analysesList()

                .tab-content
                    //- - const listInfo = [{key:'name',text:'Nom'},{key:'surname',text:'Prenom'},{key:'birthday',text:'Date de Naissance'},{key:'birthplace',text:'lieu de naissance'},{key:'sexe',text:'Sexe'},{key:'boldType',text:'Goupe Sangain'},   {key:'size',text:'Taille'},{key:'weight',text:'Poids'},{key:'address',text:'adresse'},{key:'state',text:'Ville'},{key:'job',text:'Profession'},{key:'urgentContact',text:'Personne ECU'},{key:'tel',text:'Tel'},{key:'email',text:'Email'}]
                    //- +information(listInfo)
                    p
                    | All right, Derice. Let me lay out some difficulties for you.
                .tab-content
                    //- Reglements
                    .tab-container
                        +paymentList()
                        .col-14.alpha   
                            button(type="submit" class="btn primary-btn icon-btn") Ajouter une consultation
                                != h.icon('plus-circle')   