<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Dashboard | <%= title %></title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/dist/assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="/dist/assets/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/dist/assets/vendor/chart.js/dist/Chart.min.css">
    <link rel="stylesheet" href="/dist/assets/vendor/daterangepicker/daterangepicker.css">


    <!-- CSS Front Template -->
    <link rel="stylesheet" href="/dist/assets/css/theme.min.css">
    <link rel="stylesheet" href="/dist/style.css">
</head>