include autocomplete/_patinetAutocomplete
include autocomplete/_appointmentAutocomplete

mixin analysisForm(target={},formState="create",analysesList={})
    .component(data-component="ajaxForm")
        - const specialtys = specialty
        
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            

            .col-24.alpha.omega 
                label(for="patient") Patient
                +patinetAutocomplete()

            .col-12.alpha.component(data-component="ajaxSearch")       
                label(for="appointment") Appointment
                +appointmentAutocomplete()
              
            .col-12.omega
                label(for="analysesList") Analysis Type
                select(name='analysesList' data-name="analysesList")
                    option(value='1') Type 1
                    option(value='2') Type 2
                    option(value='3') Type 3

            .col-12.alpha    
                label(for="date") Date
                input.datepicker(type="text" name="date" autocomplete="off")    
            .col-12.omega    
                label(for="time") time
                input(type="text" name="time" autocomplete="off")  

            .col-12.alpha    
                label(for="total") Total
                input(type="number" name="total" data-name="total" autocomplete="off")    
            .col-12.omega    
                label(for="credit") Credit
                input(type="number" name="credit" data-name="credit" autocomplete="off")  

            .col-12.alpha    
                label(for="discount") Discount
                input(type="number" name="discount" data-name="discount" autocomplete="off")    
            .col-12.omega    
                label(for="paymentStatus") Payment Status
                input(type="text" name="paymentStatus" data-name="paymentStatus" autocomplete="off")     

            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer  
            .col-12.omega
                button(type="button" class="cancel")  Cancel   





                

