
mixin analysisTypeForm(target={},formState="create")
    .component(data-component="ajaxForm")
        - const specialtys = specialty
        
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            

            .col-24.alpha.omega   
                label(for="name") Type d'analyse
                input(type="text" name="name" autocomplete="off")   
            .col-12.alpha   
                label(for="reference") Valeur optimal
                input(type="text" name="reference" autocomplete="off")   
            .col-12.omega    
                label(for="status") Disponiblite
                input(type="text" name="status" autocomplete="off")   
            .col-24.alpha.omega   
                label(for="description") Description
                textarea(name="description", rows="5" autocomplete="off")
            .col-24.alpha.omega   
                label(for="price") Tarif
                input(type="number" name="price" autocomplete="off" data-currency="DA")    
                                
            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer  
            .col-12.omega
                button(type="button" class="cancel")  Cancel  

        

