
mixin clientForm(target={},formState="create")

    .component(data-component="ajaxForm")  
        #alert-success.alert Successfully udated
        #alert-error.alert Oops there is error

        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            #loaderWarpper
                .loader

            .col-24.alpha.omega
                .col-20.alpha
                    input(type="text" name="client.company" data-name="client" class="searchAjax" data-ajax=search autocomplete="off")
                .col-4.omega
                    input(class="btn" type="submit" name="add rdv" value="+")

                .col-12.alpha
                    label(for="contact")
                    input(name="client.managerName || client.managerSurname" data-name="client" type="text")
                .col-12.omega 
                    label(for="position") position
                    input(name="position" data-name="client" type="text")
                .col-12.alpha
                    label(for="email") email
                    input(name="client.email" data-name="client" type="email")
                .col-12.omega
                    label(for="tel") telephone
                    input(name="client.tel" data-name="client" type="text")
                .col-12.alpha
                    label(for="status") status
                    select(name="status")
                        option(value="actif") actif
                        option(value="inactif") inactif
                .col-12.alpha    
                    button(type="submit" class="save")  Enregistrer  
                .col-12.omega
                    button(type="button" class="cancel")  Cancel  



