
mixin consultationContent(actionForm={}, title='')   
    .alert-success.alert Successfully udated
    .alert-error.alert Oops there is error
    form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
        .loaderWarpper
            .loader
        
        .page-container
            .page-header.d-flex
                .page-title=title
                .meta-table-actions
                    span.action-item 
                        select(name='type' class="consultation-header-dd")
                            option(value='Ordonnance') Type: Ordonnance
                            option(value='Ordonnance') Type: Ordonnance
                            option(value='Ordonnance') Type: Ordonnance
                            option(value='Ordonnance') Type: Ordonnance
            .line
        
            .page-content-container
                .content-row
                    .col-7.omega
                        label(for="drug") Medicament
                        input(type="text" name="medicament" autocomplete="off")
                    .col-3.omega
                        label(for="nbr_boites") Nbr. Boites
                        input(type="number" name="boxesNumber" autocomplete="off")
                    .col-3.omega
                        label(for="nbr_jours") Nbr. Jours
                        input(type="number" name="daysNumber" autocomplete="off")
                    .col-2.omega
                        label(for="nbr_cp") Nbr.Cp
                        input(type="number" name="drugsNumber" autocomplete="off")
                    .col-2.omega
                        label(for="nbr_fois") Nbr.Fois
                        input(type="number" name="times" autocomplete="off")                            
                    .col-5.omega
                        label(for="observe") Observation
                        input(type="text" name="note" autocomplete="off")  
                    .col-2
                        button(type="button" class="icon-plus-btn plus-btn")!= h.icon('plus-circle') 


                .content-row.calculation-row
                    .col-5
                        span Doliprane
                    .col-3
                        span 01 Boite
                    .col-3
                        span 03 Jours
                    .col-3
                        span 2 cp
                    .col-3
                        span 3 fois
                    .col-5
                        span Apres repas
                    .col-2
                        //- button(type="button" class="icon-plus-btn plus-btn")
                        != h.icon("more")
                
                .space
                .content-row
                    .col-24
                        .action-buttons
                            .col-7.alpha
                                button(type="submit" class="btn primary-btn icon-btn") Enregistrer
                                    != h.icon('check-circle') 
                            .col-7.omega
                                button(type="submit" class="btn secondary-btn icon-btn") Enregistrer & Imprimer
                                    != h.icon('printer') 