
mixin currencyTypeForm(target={},formState="create")
    .component(data-component="ajaxForm")  
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            

            .col-24.alpha.omega
                .col-12.alpha
                    label(for="name") Name
                    input(name="name" data-name="name" type="text")
                .col-12.omega
                    label(for="symbol") Symbol
                    input(name="symbol" data-name="symbol" type="text")

                .col-12.alpha
                    label(for="decimalSeparator") Decimal Separator
                    input(name="decimalSeparator" data-name="decimalSeparator" type="text")
                .col-12.omega
                    label(for="thousandSeparator") Thousand Separator
                    input(name="thousandSeparator" data-name="thousandSeparator" type="text")

                .clearfix
                .col-12.alpha    
                    button(type="submit" class="save")  Enregistrer      
                .col-12.omega
                    button(type="button" class="cancel")  Cancel 

