
mixin invoiceForm(target={},formState="create")
    .component(data-component="ajaxForm")  
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            #loaderWarpper
                .loader
            .col-12.alpha
                p invoice Form 
