
mixin invoiceForm(actionForm={})
    .component(data-component="ajaxForm")  
        .alert-success.alert Successfully udated
        .alert-error.alert Oops there is error
        form.ajax(action=actionForm+"create/" data-add=actionForm+"create/" data-edit=actionForm+"update/" method="POST")
            #loaderWarpper
                .loader
            .col-12.alpha
                p invoice Form 
