
mixin itemForm(target={},formState="create",currencies=[])

    .component(data-component="ajaxForm") 
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            

            .col-12.alpha
                label(for="name") Name
                    abbr *
                .autocomplete
                    input(type="text" name="name" data-name="name" autocomplete="off")
            .col-12.omega
                label(for="name") Item quantity
                    abbr *
                input(type="text" name="quantity" data-name="quantity" autocomplete="off")

            .col-24.alpha.omega
                label(for="name") Item description
                    abbr *
                textarea(type="text" name="description" rows="5" data-name="description" autocomplete="off")
            
            .col-12.alpha
                label(for="name") Item price
                    abbr *
                input(type="text" name="price" data-name="price" autocomplete="off")
            .col-12.omega
                label(for="currency") Currency
                select(name='currency' data-name="currency")
                    each currency in currencies
                        option(value=currency._id) #{currency.name}
                        
            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 