
mixin medicamentForm(target={},formState="create")
    .component(data-component="ajaxForm")  
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            

            .col-24.alpha.omega
                label(for="name") Nom du Medicament
                input(type="text" name="name" data-name="name" autocomplete="off")
            
            .col-24.alpha.omega
                label(for="description") Description du Medicament
                input(name="description" data-name="description" autocomplete="off")
            
            .col-24.alpha.omega  
                label(for="status") En Service
                select(name='status' data-name="status")
                    option(value='1') Oui
                    option(value='0') Non

            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 
