
mixin mriScanForm(target={},formState="create")
    .component(data-component="ajaxForm")  
        

        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            #loaderWarpper
                .loader
            .col-14.alpha
                input(type="search" name="search" autocomplete="on" placeholder="Rechercher ...")
            .col-10.omega
                input(class="btn" type="submit" name="add mri" value="enregistrement")
            .col-12.alpha
                label ajouter un nouveau enregistrement
            .col-24.alpha.omega
                input(type="text" name="doctor.id || doctor.name" data-name="doctor" data-ajax="api/doctor/search?q=" autocomplete="off")
            .col-24.alpha.omega
                label analyse demandé par 
