
include _searchForm

mixin mriForm(target={},formState="create",specialty={},doctor={})
    //- .component(data-component="ajaxForm")
    .component(data-component="ajaxForm")
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            

            .space-25
            - const searchAction = '/api/patient/'
            +searchForm(searchAction)
            .space-25
        
            .accordionFormHeader.form-header-extend
                != h.icon('plus-circle') 
                | Ajouter un enrigistrement
                span.arrow-right
                    != h.icon('arrow-down')

            .space-15
            .tab-container
                .single-item.meta-title-row
                    .item-row
                        .item-data
                            | ID: 1 820219 99 190502 0
                        .item-data
                            | M. Sehnoun Sophian

                .space-15
                .content-row
                    .col-24.analyses-requested
                        label(for="analyses_requestd") Analyse demandées par:
                        input(type="text" name="analyses_requestd" autocomplete="off")
                .space
                .content-row
                    .col-24
                        .action-buttons
                            .col-12.alpha
                                button(type="submit" class="btn primary-btn icon-btn") Ajouter un Ordonnance
                                    != h.icon('plus-circle')
