
mixin mriScanForm(actionForm={})
    .component(data-component="ajaxForm")  
        .alert-success.alert Successfully udated
        .alert-error.alert Oops there is error

        form.ajax(action=actionForm+"create/" data-add=actionForm+"create/" data-edit=actionForm+"update/" method="POST")
            #loaderWarpper
                .loader
            .col-14.alpha
                input(type="search" name="search" autocomplete="on" placeholder="Rechercher ...")
            .col-10.omega
                input(class="btn" type="submit" name="add mri" value="enregistrement")
            .col-12.alpha
                label ajouter un nouveau enregistrement
            .col-24.alpha.omega
                input(type="text" name="doctor.id || doctor.name" data-name="doctor" data-ajax="api/doctor/search?q=" autocomplete="off")
            .col-24.alpha.omega
                label analyse demandé par 
