
mixin orderForm(target={},formState="create")
    .component(data-component="ajaxForm")  
        
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            
          
            .col-12.alpha
                label(for="number") Number
                    abbr *
                input(type="number" required name="number" data-name="number" autocomplete="off")
            .col-12.omega    
                label(for="year") Year
                    abbr *
                input(type="number" required name="year" data-name="year" autocomplete="off")

            .col-12.alpha
                label(for="date") Date
                    abbr *
                input(type="text" required class="date" name="date" data-name="date" autocomplete="off")
            .col-12.omega    
                label(for="dateExpired") dateExpired
                    abbr *
                input(type="text" required class="date" name="dateExpired" data-name="dateExpired" autocomplete="off")

            .col-24.alpha.omega
                .col-24.alpha.omega
                    label(for="name") Items
                    .col-12.alpha
                        label(for="name") Item Name
                        .autocomplete
                            input(type="text" name="items.name" data-name="items.name" class="searchAjax" data-ajax="api/items/search?q=" autocomplete="off")
                    .col-12.omega
                        label(for="name") Item quantity
                        input(type="text" name="items.quantity" data-name="items.quantity" autocomplete="off")

                    .col-24.alpha.omega
                        label(for="name") Item description
                        input(type="text" name="items.description" data-name="items.description" autocomplete="off")
                    
                    .col-12.alpha
                        label(for="name") Item price
                        input(type="text" name="items.price" data-name="items.price" autocomplete="off")
                .col-12.alpha
                    label &nbsp;
                    input(class="btn" type="button" name="add rdv" value="+")

            .col-12.alpha.component(data-component="ajaxSelect")
                label(for="supplier") Supplier
                    abbr *
                .autocomplete
                    input(type="text" required class="ajaxSelect" name="supplier" data-name="supplier" data-ajax="api/supplier/search?q=" autocomplete="off")
            .col-12.omega.component(data-component="ajaxSelect")
                label(for="currency") Currency
                .autocomplete
                    input(type="text" class="ajaxSelect" name="currency" data-name="currency" data-ajax="api/currencyType/search?q=" autocomplete="off")

            .col-12.alpha
                label(for="subTotal") Sub Total
                input(type="number" name="subTotal" data-name="subTotal" autocomplete="off")
            .col-12.omega    
                label(for="taxTotal") Tax Total
                input(type="number" name="taxTotal" data-name="taxTotal" autocomplete="off")

            .col-12.alpha
                label(for="total") Total
                input(type="number" name="total" data-name="total" autocomplete="off")
            .col-12.omega
                label(for="status") Statut
                select(name='status')
                    option(value='1') En Service
                    option(value='0') Demisioner
            
            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 
