
mixin permissionForm(target={},formState="create")
    .component(data-component="ajaxForm")  
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            

            .col-24.alpha.omega
                label(for="displayName") Permission d'utilisateur
                input(type="text" name="displayName" autocomplete="off")
            .col-24.alpha.omega
                label(for="apiGroup") Api Groupe
                input(type="text" name="apiGroup" autocomplete="off")
            .col-24.alpha.omega
                label(for="apiMethod") Api Methode
                input(type="text" name="apiMethod" autocomplete="off")
        
            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 
