
mixin positionForm(target={},formState="create")
    .component(data-component="ajaxForm")
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            
            .col-24.alpha
                label(for="name") Nom du Position
                input(type="text" name="name" autocomplete="off")
            .col-24.alpha
                label(for="description") Description de Position
                input(type="text" name="description" autocomplete="off")
            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel   
