include autocomplete/_patientAutocomplete
include autocomplete/_consultationAutocomplete
include autocomplete/_doctorAutocomplete

mixin prescriptionForm(target={},formState="create")
    .component(data-component="ajaxForm")  
        

        form.ajax(action=actionForm+"create/" data-add=actionForm+"create/"  data-read=actionForm+"read/" data-edit=actionForm+"update/" method="POST")
            

            .col-24.alpha.omega  
                label(for="patient") Consultation
                +consultationAutocomplete()

            .col-24.alpha.omega  
                label(for="patient") Patient
                +patientAutocomplete()

            .col-24.alpha.omega  
                label(for="patient") Doctor
                +doctorAutocomplete()

            .col-12.alpha
                label(for="number") Type
                    abbr *
                input(type="string" required name="type" data-name="type" autocomplete="off")

            .col-12.omega
                label(for="client") Letter
                input(type="string" required name="type" data-name="type" autocomplete="off")


            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 
