
mixin userForm(target={},formState="create")
    .component(data-component="ajaxForm")  
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
            

            .col-24.alpha.omega
                label(for="name") Nom du User
                input(type="text" name="name" data-name="name" autocomplete="off")
            
            .col-24.alpha.omega
                label(for="email") Email du User
                input(type="email" name="email" data-name="email" autocomplete="off")
                
            .col-24.alpha.omega
                label(for="permissions") Permissions
                select(name='permissions' data-name="status")
                    option(value='0') All
                    option(value='1') View only
                    option(value='2') Write
                    
            .col-24.alpha.omega  
                label(for="role") Role
                select(name='role' data-name="role")
                    option(value='1') User
                    option(value='2') Admin
                    option(value='3') Doctor
                    option(value='4') Patient

            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 