include autocomplete/_employeeAutocomplete
include autocomplete/_doctorAutocomplete

mixin adminForm(target={},formState="create",roles=[])
    .component(data-component="ajaxForm")  
        
        form.ajax(autocomplete="off" data-target=target  data-state=formState method="POST")
        
            
            
            .component(data-component="selecttoggle")        
                .col-24.alpha.omega
                    label(for="accountType") Type de compte
                    select(name='accountType' class="selecttoggle" required)
                        option(value="doctor") Doctor
                        option(value="employee") Employee
                .col-24.alpha.omega.toggleDiv.doctor.isRequired
                    +doctorAutocomplete({isRequired:true})           
                .col-24.alpha.omega.toggleDiv.employee.isRequired.hidden
                    +employeeAutocomplete()
                                      
            .col-24.alpha.omega  
                label(for="role") Role
                select(name='role' data-name="role._id")
                    option(value="null")  selectionner le role d'utilisateur
                    each role in roles
                        option(value=role._id) #{role.displayName}
            
            .col-24.alpha.omega
                label(for="email") E-mail
                input(type="text" name="email" data-name="email" autocomplete="off" required)            
            .col-24.alpha.omega
                label(for="password") password
                input(type="password" name="password" data-name="password" autocomplete="off" required)
            .clearfix
            .col-12.alpha    
                button(type="submit" class="save")  Enregistrer      
            .col-12.omega
                button(type="button" class="cancel")  Cancel 