mixin analysesList(getUrl="api/analysis/find/patient")
    .item-list.component(data-component="item-list" data-get=getUrl)
        .single-item.hidden
            .item-row
                .item-data
                    != h.icon('date-icon')
                    span(data-property="date")
                .item-data-2
                    != h.icon('microscope')
                    span(data-property="analysesList.length")
                    |Analyses
            .more-option
                != h.icon("more")