mixin consultationsList(getUrl="api/consultation/find/patient")
    .item-list.component(data-component="item-list" data-get=getUrl)
        .single-item.hidden
            .item-row
                .item-data
                    != h.icon('date-icon')
                    span(data-property="date")
                .item-data-2
                    != h.icon('med-icon')
                    span(data-property="doctor.name")
            .more-option
                != h.icon("more")