mixin paymentList(getUrl="api/payment/find/patient")
    .item-list.component(data-component="item-list" data-get=getUrl)
        .single-item.hidden
            .item-row.mb-10
                .item-data
                    != h.icon('date-icon')
                    span(data-property="date")
                .item-data
                    != h.icon('time-icon')
                    span(data-property="time")
            .item-row
                .item-data
                    != h.icon('med-icon')
                    span(data-property="doctor.name")
                .item-data
                    != h.icon('currency')
                    | Paye 
                    span(data-property="total")
                    | DA
            .more-option
                != h.icon("more")