mixin recordingList(action="api/analysis/", title)
    .item-list.component(data-component="item-list" data-list-name="recording" data-get=action+'find/patient')
        .single-item.hidden
            .item-row
                .item-data
                    != h.icon('consult-report')
                    span(data-property="name")
                .item-data-2
                    != h.icon('date-icon')
                    span(data-property="date")
            .moreOption
                .toggle
                    != h.icon("more")
                    ul.toggleOption
                        li.remove(data-label=title)
                            != h.icon("delete-trash") 
                            a(href="#delete-record") Supprimer