mixin currencyAutocomplete(modelName="currency", displayName="name", search="/api/currency/search?q=")
    .component(data-component="ajaxSearch" data-error-message="No search currency found")   
        .autocomplete
            input(type="text" data-component="search-input" class="component searchAjax" name=modelName data-disabled="true" data-name=modelName data-ajax=search autocomplete="off" placeholder="Rechercher" data-label=displayName)    
